@charset "UTF-8";
.animation{
    -moz-animation: animation1 2s linear   ;
    -webkit-animation: animation1 2s linear ;
    animation: animation1 2s linear ;
    -o-animation: animation1 2s linear ;
}
@-webkit-keyframes animation1{
    from{-webkit-transform: scale(0.6);  }
    to{-webkit-transform: scale(1); }
}
 
@-moz-keyframes animation1{
    from{-moz-transform: scale(0.6); }
    to{-moz-transform: scale(1); }
}
 
@-o-keyframes animation1{
    from{-o-transform: scale(0.6);}
    to{-o-transform: scale(1);}
}
 
@keyframes animation1{
    from{ -ms-transform: scale(0.6);}
    to{-o-transform: scale(1);}
}